<div class="container mt-4">
    <form action="" method="post">
        <div class="form-floating mb-3">
            <input type="text" name="value" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Search values</label>
        </div>
        <div class="form-floating mt-2">
            <button type="submit" class="btn btn-outline-success">Success</button>
        </div>
    </form>
</div>